@use "global" as *;

.archive-voice__cards {
  margin-top: rem(40);
}

.archive-voice__pagenavi {
  margin-top: rem(80);
}

.archive-voice__tab {
  width: 100%;
@include mq(md){
  // max-width: rem(744); 
}
}