@use "global" as *;

.page-about-gallery {
  margin-top: rem(40);
  position: relative;

  @include mq(md) {
    margin-top: rem(120);
  }
}

.page-about-gallery::before {
  content: "";
  display: none;

  @include mq(md) {
    display: block;
    max-width: rem(301);
    background-image: url(../../assets/images/common/fish-cluster.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: rem(-80);
    right: calc(50vw - min(48vw, rem(590)));
    width: 100%;
    height: rem(138);
    z-index: -1;
  }
}