@use "global" as *;

.top-blog {
  position: relative;
  margin-top: rem(80);
  @include mq(md) {
    margin-top: 0;
  }
}

.top-blog::before {
  content:"";

  @include mq(md) {
    background-image: url(../../assets/images/common/fish-cluster-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;

    position: absolute;
    top: rem(26);
    left: calc(50vw - min(48vw, rem(621)));
    width: rem(437);
    max-width: rem(437);
    height: rem(201);
  }
}
