@use "global" as *;

.about__contaner {
  position: relative;
  margin-top: rem(53);

  @include mq(md) {
    margin-top: rem(120);
  }
}

.about__image-right img {
  margin-left: auto;
  max-width: calc(281 / 345 * 100%);
  width: 100%;

  @include mq(md) {
    max-width: rem(880);
    width: calc(880 / 1080 * 100%);
  }
}

.about__image-left {
  position: absolute;
  top: rem(-25);
  left: 0;
  max-width: calc(128 / 345 * 100%);
  width: 100%;
  z-index: 1;

  @include mq(md) {
    top: rem(-79);
    max-width: rem(400);
    width: calc(400 / 1080 * 100%);
  }
}

.about__body {
  @include mq(md) {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-41%, -71%);
    max-width: rem(840);
    width: calc(840 / 1080 * 100%);
    z-index: 3;
  }
}

.about__sub-title {
  margin-top: rem(40);
  color: $accent-color;
  font-family: $english-font-family;
  font-weight: $normal;
  font-size: rem(40);
  line-height: 1;

  @include mq(md) {
    margin-top: rem(0);
    color: $white;
    font-size: min(vw(1180, 80), rem(80)); // レスポンシブを考慮し画面サイズによって大きさを変動。1080 + 余白の50 + 50 で 1180にしている。
    line-height: 1.25;
    /* 125% */
    max-width: rem(400);
    width: calc(400 / 840 * 100%); // レスポンシブを考慮し画面サイズによって大きさを変動
  }
}

.about__content {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(0);
    max-width: rem(400);
    width: calc(400 / 840 * 100%); // レスポンシブを考慮し画面サイズによって大きさを変動
    margin-left: calc(40 / 840 * 100%);
  }
}

.about__text {
  color: $font-color;
  line-height: 1.5;

  /* 150% */
  @include mq(md) {
    color: $white;
  }
}

.about__wrapper {
  margin-top: rem(50);
  text-align: center;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__inner .about__contaner--sub {
  margin-top: rem(0);
}

.about__contaner--sub .about__image-right img {
  max-width: 100%;

  @include mq(md) {
    max-width: rem(880);
  }
}

.about__contaner--sub .about__body {
  @include mq(md) {
    top: 45%;
    left: 51%;
  }
}

.about__contaner--sub .about__body .about__content{
  @include mq(md) {
    padding-top: rem(23);
  }
}

.about__image-left--sub {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.about__sub-title--sub {
  position: absolute;
  top: rem(-14);
  left: 5%;
  color: $white;

  @include mq(md) {
    position: initial;
  }
}