@use "global" as *;

.archive-campaign__cards{
  margin-top: rem(40);
}

.archive-campaign__pagenavi{
  margin-top: rem(80);
}

.archive-campaign__tab{

width: 100%;
@include mq(md){
  // max-width: rem(744); 
}
}