@use "global" as *;

.blog {

  @include mq(md) {
    padding-top: rem(100);
    position: relative;
  }
}

.blog::after {
  @include mq(md) {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-image: url(../images/common/blog-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -10;
  }
}

.blog__inner {

}

.blog__title {
}

.blog__cards {
  margin-top: rem(29);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__wrapper {
  margin-top: rem(39);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__button {
}
