@use "global" as *;

/* ボタン共通設定 */
.button {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  color: $white;
  background-color: $accent-color;
  border: rem(1) solid $accent-color;
  font-family: $english-font-family;
  font-size: rem(14);
  z-index: 1;
  text-align: center;
  transition: 0.2s;
}

.button::before {
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(4);
  width: 100%;
  height: 100%;
  border: rem(1) solid $accent-color;
  z-index: -1;
}

.button__text {
  display: inline-block;
  padding: rem(16) rem(88) rem(16) rem(40);
}

.button__text::before {
  content: "";
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  top: 50%;
  right: rem(40);
  /*下線の形状*/
  width: rem(40);
  height: rem(1);
  display: inline-block;
  border-bottom: rem(1) solid $white;
  z-index: 1;
  transition: 0.2s;
}

.button__text::after {
  content: "";
  position: absolute;
  top: 44%;
  right: rem(39);
  width: rem(10);
  height: 0;
  transform: rotate(40deg);
  border-top: rem(1) solid $white;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  transition: 0.2s;
}

.button::after {
  // 左からスライド
  content: "";
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s;
  z-index: -1;
}

.button:hover {

  color: $accent-color;
}

.button:hover::after {

  transform: scale(1, 1);
}

.button__text:hover::before {

  border-bottom: rem(1) solid $accent-color;
}

.button__text:hover::after {

  border-bottom: rem(1) solid $accent-color;
}

// 404ページのレイアウト
.button--white {
  color: $accent-color;
  background-color: $white;
  border: rem(1) solid $white;
}

.button--white::before {
  border: rem(1) solid $white;
}

.button--white::after {
  background-color: $accent-color;
}

.button--white .button__text::before {
  border-bottom: rem(1) solid $accent-color;
}

.button--white .button__text::after {
  border-bottom: rem(1) solid $accent-color;
}

.button--white:hover {
  color: $white;
}

.button--white .button__text:hover::before {
  cursor: pointer;
  border-bottom: rem(1) solid $white;
}

.button--white .button__text:hover::after {
  cursor: pointer;
  border-bottom: rem(1) solid $white;
}

.button__text--submit {
  padding: 0;
}

.button__submit {
  padding: rem(16) rem(88) rem(16) rem(40);
  color: $white !important;
  transition: 0.2s;
}

.button__submit:hover {
  color: $accent-color !important;
}