@use "global" as *;

.columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: rem(80);

  @include mq(md) {
    grid-template-columns: 1fr rem(294);
    gap: 0 rem(80);
  }
}

.columns__main {
  width: 100%;
}

.columns__sideber{
  width: 100%;
}

.columns__pagenavi{
  margin-top: rem(80);
}