@use "global" as *;

.faq-accordion__question {
  padding: rem(16) rem(32) rem(16) rem(16);
  color: $white;
  font-size: rem(16);
  font-weight: $normal;
  background-color: $accent-color;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  @include mq(md){
    padding: rem(26) rem(80) rem(26) rem(40);
    font-size: rem(20);
  }
}

.faq-accordion__question::before,
.faq-accordion__question::after {
  content: '';
  display: block;
  background-color: $white;
  position: absolute;
  top: 50%;
  width: rem(16);
  height: rem(1);
  right: rem(16);
  @include mq(md){
    width: rem(32);
    right: rem(40);
  }
}

.faq-accordion__question::after {
  transform: rotate(0);
  transition-duration: .3s;
}

.faq-accordion__question::before {
  opacity: 0;
}

.faq-accordion__question.is-active::before {
  opacity: 1;
}

.faq-accordion__question.is-active::after {
  transform: rotate(90deg);
}

.faq-accordion__answer {
  border: rem(1) solid $accent-color;
  padding: rem(24) rem(16);
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  height: auto;
  opacity: 1;
  width: 100%;
  transition-duration: .3s;
  @include mq(md){
    padding: rem(40);
    margin-top:rem(16);
  }
}

.faq-accordion__answer.is-close {
  padding: 0 rem(16);
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  @include mq(md){
    padding: 0 rem(40);
  }
}