@use "global" as *;

.hamburger {
  z-index: 9999;
  @include mq(md) {
    display: none;
  }
}

.hamburger span {
  position: relative;
  display: block;
  height: rem(2);
  width: rem(32);
  background: $white;
  transition: all 0.5s;
}

.hamburger span:nth-child(1) {
  top: rem(2);
}

.hamburger span:nth-child(2) {
  margin-top: rem(12);
  margin-bottom: rem(12);
}

.hamburger span:nth-child(3) {
  top: rem(-2);
}
/*is-OPEN時の動き*/
.hamburger.is-open span:nth-child(1) {
  top: rem(13);
  transform: rotate(36.87deg);
}

.hamburger.is-open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  top: rem(-15);
  transform: rotate(-36.87deg);
}
