@use "global" as *;

.information-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(calc(19 / 375 * 100%), rem(19));

  @include mq(md) {
    gap: rem(90);
    justify-content: center;
  }
}

.information-tab__item {
  padding: rem(10) rem(16);
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  background-color: #DDF0F1;
  text-align: center;
  cursor: pointer;
  display: flex;
  font-size: rem(14);
  color: $accent-color;
  justify-content: center;
  width: 100%;

  @include mq(md) {
    padding: rem(26) 0;
    position: relative;
    box-shadow: none;
    text-align: right;
    font-size: rem(24);
  }
}

.information-tab__item:hover {
  opacity: 0.8;
}

.information-tab__item span {


  @include mq(md) {
    padding-left: rem(72);
  }
}

.information-tab__item a {
  display: block;

width: 100%;
  @include mq(md) {
    padding-left: rem(72);
  }
}

.information-tab__item::before {
  content: "";

  @include mq(md) {
    display: block;
    background-image: url(../../assets/images/common/ocean_sea_icon1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: rem(64);
    height: rem(64);
    position: absolute;
    top: rem(12);
    left: rem(14);
  }

}

.information-tab__item.is-active {
  background-color: $accent-color;
  box-shadow: rem(4) rem(4) rem(8) 0 rgba(0, 0, 0, 0.25);
  cursor: inherit;

}

.information-tab__item.is-active::before {
  @include mq(md) {
    background-image: url(../../assets/images/common/ocean_sea_icon.png);
  }
}

.information-tab__item.is-active:hover {
  opacity: 1;
}

.information-tab__item.is-active {
  color: $white;
}