@use "global" as *;

.mv {
  position: relative;
  height: 100vh;
}

.mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  color: $white;
  font-family: $english-font-family;
  font-weight: $normal;
  text-align: center;
  @include mq(md) {
    transform: translate(-50%, -44%);
  }
}

.mv__main {
  font-size: rem(40);
  letter-spacing: 0.54em;
  text-indent:0.54em;
  @include mq(md) {
    font-size: rem(80);
    line-height: 1;
  }
}

.mv__sub {
  font-size: rem(20);
  margin-top: rem(-3);
  line-height: 1;
  @include mq(md) {
    margin-top: rem(10);
  }
}
