@use "global" as *;

.popular-card{
  display: flex;
  // justify-content: center;
  padding: rem(16);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  color: $font-color;
  gap: rem(16);
  transition: transform 0.6s ease;
}

.popular-card__image{
  width: calc(121 / (294 - (16 + 16 + 16)) * 100%);
  position: relative;
  overflow: hidden;
  }

  
  .popular-card__image::before {
    content: "";
    display: block;
    padding-top: calc(90 / 121 * 100%); /* 比率を指定 */
  }
  
  .popular-card__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
  }

.popular-card__time {
  font-size: rem(12);
  line-height: 1.5; /* 150% */
}

.popular-card__title {
  font-size: rem(16);
  font-weight: 500;
}

.popular-card:hover {
  opacity: 0.8;
}

.popular-card:hover .popular-card__image img{
    transform: scale(1.1);
}
