@use "global" as *;

.price {
  background-color: $gray2;
  padding-top: rem(80);
  padding-bottom: rem(80);

  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.price__inner {}

.price__title {}

.price__flex {
  margin-top: rem(28);
  display: flex;
  flex-direction: column;

  @include mq(md) {
    margin-top: rem(40);
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.price__image {
  position: relative;
  width: 100%;

  @include mq(md) {
    max-width: calc(497 / 1080 * 100%);
    width: 100%;
    margin-left: calc(93 / 1080 * 100%);
  }
}

.price__image::before {
  content: "";
  display: block;
  padding-top: calc(227 / 345 * 100%);

  @include mq(md) {
    padding-top: calc(746 / 492 * 100%);
  }
}

.price__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__contaner {
  width: 100%;
  margin-top: rem(40);

  @include mq(md) {
    max-width: calc(492 / 1080 * 100%);
    width: 100%;
    margin-top: 0;
  }
}

.price__list:not(:first-child) {
  margin-top: rem(39);
}

.price__wrapper {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.price__button {}