@use "global" as *;

.section-title {
  font-weight: $normal;
}

.section-title__main {
  text-align: center;
  font-family: $english-font-family;
  color: $font-color;
  font-size: rem(32);
  line-height: 1.25;
  font-weight: $normal;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__main--white {

  @include mq(md) {
    color: $white;
  }
}

.section-title__main::first-letter {
  color: $accent-color;
  text-transform: uppercase;
}

.section-title__main--white::first-letter {
  text-transform: uppercase;
  @include mq(md) {
    color: $white;
  }
}

.section-title__sub {
  text-align: center;
  color: $accent-color;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}

.section-title__sub--white {
  @include mq(md) {
    color: white;
  }
}
