@use "global" as *;

.tab {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: rem(16) rem(21);
  place-content: center;

  @include mq(md) {
    gap: rem(16) rem(32);
    // grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(4,rem(162));
    place-content: inherit;
  }
}

.tab__text {
  display: inline-block;
  font-size: rem(14);
  color: $accent-color;
  background-color: $white;
  border: rem(1) solid $accent-color;
  text-align: center;
  transition: 0.2s;
  line-height: rem(22);

  padding: rem(6) 0;
}

.tab__text.is-active {
  color: $white;
  background-color: $accent-color;
}

.tab__text:hover {
  color: $white;
  background-color: $accent-color;
  border: rem(1) solid $white;

}